{% extends "base.html" %}

{% block page_content %}
<div class="jumbotron">
    <h1 class="display-4">Hello, World!</h1>
    <p class="lead">This is my simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="alert alert-primary" role="alert">I'm a primary alert!</div>
        </div>
        <div class="col-sm">
            <div class="alert alert-danger" role="alert">I'm a danger alert!</div>
        </div>
        <div class="col-sm">
            <div class="alert alert-warning" role="alert">I'm a warning alert!</div>
        </div>
    </div>
</div>
{% endblock %}